	.slider ul, .slider li {
		margin:     0;
		padding:    0;
		list-style: none;
	}

	#prevBtn, #nextBtn,
	#slider1next, #slider1prev{ 
		display:    block;
		position:   absolute;
		z-index:    1000;
	}	

	#nextBtn, #slider1next{ 
		left:       696px;
 	}														

	#prevBtn a, #nextBtn a,
	#slider1next a, #slider1prev a{  
		display:    block;
		position:   relative;
 	}	
		
	/* numeric controls */	

	ol#controls{
		margin:     1em 0;
		padding:    0;
		height:     28px;	
	}

	ol#controls li{
		margin:     0 10px 0 0; 
		padding:    0;
		float:      left;
		list-style: none;
		height:     28px;
		line-height:28px;
	}

	ol#controls li a{
		float:      left;
		height:     28px;
		line-height:28px;
		border:     1px solid #ccc;
		background: #DAF3F8;
		color:      #555;
		padding:    0 10px;
		text-decoration:none;
	}

	ol#controls li.current a{
		background: #5DC9E1;
		color:      #fff;
	}

	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
	
/* // Easy Slider */
